@use './header.scss';
@use './footer.scss';
@import './variables.scss';

body {
    background-color: $body-bg-color;
    color: $light-text-color;
    overflow-x: hidden;
}

.members-list {
    justify-content: space-between;

    .card {
        .list-group-flush {
            font-size: 14px;
        }
    }
}

.search-state {
    color: $dark-text-color;
}